<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="bookId" th:content="${bookId}"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        input {
            width: 300px;
        }
    </style>
</head>
<body>

<a th:href="@{/}" href="listBook.html">Вернуться к списку книг</a>
<br/>
<h2>Книги:</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="booksTable">
    </tbody>
</table>

<table>
    <td width="50%">
        <h3>Авторы:</h3>
        <button class="btnAddBookAuthor" onclick="location.href='/listAuthor';"
        >Добавить
        </button>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="authorsTable">
            </tbody>
        </table>
    </td>
    <td width="50%">
        <h3>Категории:</h3>
        <button class="btnAddBookCategory" onclick="location.href='/listCategory';"
        >Добавить
        </button>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="categoriesTable">
            </tbody>
        </table>
    </td>
</table>
<br/>
<h3>Комментарии:</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Комментарий</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="commentsTable">
    </tbody>
</table>
<br/>
<form id="addBookCommentForm">
    <label for="newBookCommentInput" align="left">Комментарий:</label>
    <input id="newBookCommentInput" type="text" value=""/>
</form>

<script>

    $(document).ready(function () {
        const id = $("meta[name=bookId]").attr("content");
        reloadBook(id);
        reloadAuthor(id);
        reloadCategory(id);
        reloadComment(id);
    });

    function reloadBook(id) {
        const url = "/book/" + id;
        $.get(url).done(function (book) {
            $('#booksTable').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td><input id="updateBookInput" type="text" value="${book.name}"/></td>
                        <td><button class="btnUpdateBook" onclick="$.ajax({
                                        url: '/book/${book.id}',
                                        type: 'PATCH',
                                        data: {
                                            id: ${book.id},
                                            name: $('#updateBookInput').val()
                                        },
                                        success: function(result) {

                                        }
                                });">Сохранить</button></td>
                     </tr>
                `);
        });
    }

    function reloadAuthor(bookId) {
        const urlAuthors = "/book/" + bookId + "/author";
        $.get(urlAuthors).done(function (authors) {
            authors.forEach(function (author) {
                {
                    $('#authorsTable').append(`
                        <tr id='author${author.id}'>
                            <td>${author.id}</td>
                            <td>${author.name}</td>
                            <td>
                            <button class="btnUnlinkAuthor" onclick="$.ajax({
                                        url: '/book/${bookId}/author/${author.id}',
                                        type: 'DELETE',
                                        success: function(result) {
                                            $('#author${author.id}').remove();
                                         }
                                });">Удалить</button>
                            </td>
                        </tr>
                    `)
                }
            });
        });
    }

    function reloadCategory(bookId) {
        const urlCategories = "/book/" + bookId + "/category";
        $.get(urlCategories).done(function (categories) {
            categories.forEach(function (category) {
                {
                    $('#categoriesTable').append(`
                        <tr id='category${category.id}'>
                            <td>${category.id}</td>
                            <td>${category.name}</td>
                            <td>
                            <button class="btnUnlinkCategory" onclick="$.ajax({
                                        url: '/book/${bookId}/category/${category.id}',
                                        type: 'DELETE',
                                        success: function(result) {
                                            $('#category${category.id}').remove();
                                        }
                                });">Удалить</button>
                            </td>
                        </tr>
                    `)
                }
            });
        });
    }

    function reloadComment(bookId) {
        const urlComments = "/book/" + bookId + "/comment";
        const urlAddComment = "\'/book/" + bookId + "/comment\'";
        $.get(urlComments).done(function (comments) {
            comments.forEach(function (comment) {
                {
                    // $('#commentsTable').empty();
                    $('#commentsTable').append(`
                        <tr id='comment${comment.id}'>
                            <td>${comment.id}</td>
                            <td>${comment.text}</td>
                            <td>
                            <button class="btnDeleteComment" onclick="$.ajax({
                                        url: '/comment/${comment.id}',
                                        type: 'DELETE',
                                        success: function(result) {
                                            $('#comment${comment.id}').remove();
                                        }
                                });">Удалить</button>
                            </td>
                        </tr>
                    `)
                }
            });
            $('#addBookCommentForm').append(`
                    <button id = "btnPostBookComment" onClick = "
                    $.post(${urlAddComment},
                        {
                            text: $('#newBookCommentInput').val()
                        },
                        function (result) {
                            reloadComment(${bookId});
                        });
                    ">Добавить</button>
                `)
        });
    }

</script>
</body>
</html>