<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Авторы:</h2>
<a th:href="@{/addAuthor(bookId=${bookId})}" href="addAuthor.html">Создать</a>
<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <form id="button-form" th:action="@{/linkAuthor(bookId=${bookId}, authorId=${author.id})}" th:method="post">
                <button type="submit">Выбрать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
