<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8" name="bookId" th:content="${bookId}"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        input {
            width: 300px;
        }
    </style>
</head>

<br>

<h2>Категории:</h2>

<form id="addCategoryForm">
    <thead>
    <tr>
        <th>Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="newCategory">
    <tr>
        <td>
            <input id="newCategoryInput" type="text" value=""/>
        </td>
        <td>
            <button id="btnPostCategory" class="btnPostCategory" onclick="
                $.post('/category',
                {
                    name: $('#newCategoryInput').val()
                },
                function(result) {
                   location.reload();
                   });">Создать
            </button>
        </td>
    </tr>
    </tbody>
</form>
<br></br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="categoriesTable">
    </tbody>
</table>

<script>

    $(document).ready(function () {
        var bookId = $("meta[name=bookId]").attr("content");
        var urlPick = '\'/book/' + bookId + '/category\'';
        var urlBook = '\'/editBook/' + bookId + '\'';
        $.get('/category').done(function (categories) {
            categories.forEach(function (category) {
                $('#categoriesTable').append(`
                    <tr>
                        <td>${category.id}</td>
                        <td>${category.name}</td>
                        <td>
                            <button class="btnPick" onclick="$.ajax({
                                        url: ${urlPick},
                                        type: 'PUT',
                                        data:{
                                            id: '${category.id}',
                                        },
                                        success: function(result) {
                                            location.href=${urlBook};
                                        }
                                });">Выбрать</button>
                        </td>
                    </tr>
                `)
            });
        });
    });


</script>
</body>
</html>
